@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*GLOBALS*/
html {
    font-family: 'Oswald', sans-serif;
}

body {
    display: flex;
  flex-direction: column;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to bottom, rgb(255,255,255) 41%,rgb(255,255,255) 41%,rgb(0,0,0) 90%);}

main {
    min-height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    color: black;
    font-family: 'oswald', sans-serif;
}

h2 {
    color: black;
    font-family: 'oswald', sans-serif;
}

h3 {
    color: black;
    font-family: 'oswald', sans-serif;
}

p {
    color: black;
    font-family: 'oswald', sans-serif;
}

header {
    background-color: #ffffff;
    border: solid rgb(0, 0, 0) 4px;
    display: flex;
}

nav {
    display: flex;
}

.menu_navbar {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 138px;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    cursor: pointer;
    color: rgb(0, 0, 0);
    display: flex;
    text-decoration: none;
    justify-content: center;
}

nav {
    margin: 5px;
}

.navbar__contenido {
    font-size: 40px;
}

.carrito {
    display: flex;
    align-items: center;
    align-content: center;
}

.carritoLogo {
    height: 70px;
}

.marcas {
    display: flex;
    justify-items: center;
    justify-content: center
}

.marcasLista {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 138px;
}

.modaNike {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 138px;
}

.modaAdidas {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 138px;
}

.modaFoto{border: solid 4px black;}

.destacadosTitulo {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.seguinos {
    color: white;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes {
    display: flex;
    list-style: none;
    gap: 73px;
    justify-content: center;
    align-items: center;
}

.derechos {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
background: black;    border: solid rgb(0, 0, 0) 4px;
    display: flex;
}